
<footer style="background-color: rgba(37, 86, 75, 0.696)">
  <div class="container text-center mt-4" ">
    <p class="footer-text" style="color: azure;">&copy; 2023 MagiZin. All rights reserved.</p>
    <p class="footer-text" style="color: azure;">Designed and developed by npkr_iami</p>
  </div>
</footer>
