<%- include('partials/header') %>

<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

 <br><br><br>
 <body style="background-color: aquamarine;">
    <div class="container" style="background-color: aquamarine;">
        <div class="row">
			<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center">
							<h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: black;">Login to MagiZin</h1>
						 </div>
					</div>
                   <form action="/login" method="POST" name="login">
                           <div class="form-group">
                              <label for="exampleInputEmail1" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Username</label>
                              <input type="email" name="username"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter username/email">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1"style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Password</label>
                              <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                           </div>
                           <div class="form-group">
                              <p class="text-center">By signing in you accept our <a href="/termsOfUse" style="color: black; font-style: oblique; font-weight: 500;">Terms Of Use</a></p>
                           </div>
                           <div class="col-md-12 text-center ">
                              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" style="background-color: rgba(47, 82, 74, 0.696)">Login to MagiZin</button>
                           </div>
                           <div class="col-md-12 ">
                              <div class="login-or">
                                 <hr class="hr-or">
                                 <span class="span-or">or</span>
                              </div>
                           </div>
                           <div class="form-group">
                              <p class="text-center">Don't have account? <a href="/register" id="signup" style="color: black; font-style: oblique; font-weight: 500;">Sign up here</a></p>
                           </div>
                        </form><br><br><br>
                 
				</div>
			</div>
			 
			</div>
		</div>
      </div>  
      <div class="d-flex justify-content-center mt-3">
         <button onclick="goBack()" class="btn btn-primary" style="background-color: rgba(47, 82, 74, 0.696)">Go Back</button>
         </div>
         <br><br>
      </body>
         

 


<%- include('partials/footer') %>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  function goBack() {
    window.history.back();
  }
</script>