<%- include('partials/header') %>
<body style="background-color: aquamarine;">
    <!------ Include the above in your HEAD tag ---------->

 
   
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div id="second">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Register to MagiZin</h1>
                            </div>
                        </div>
                        <form action="/register" name="registration" method="POST" onsubmit="return validateForm()">
                            <div class="form-group">
                              <label for="exampleInputEmail1" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Full Name</label>
                              <input type="text" name="fullname" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="Enter Fullname" required maxlength="100">
                                <small id="fullnameHelp" class="form-text text-muted">Fullname can be up to 100 characters long.</small>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Username</label>
                              <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username/email" required maxlength="50">
                              <small id="usernameHelp" class="form-text text-muted">Username can be up to 50 characters long.</small>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Password</label>
                              <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password" required minlength="4" maxlength="8">
                              <small id="passwordHelp" class="form-text text-muted">To ensure the security of your data on this website,Password must be between 4 and 8 characters.</small>
                            </div>
                            <div class="form-group">
                                <p class="text-center">By signing in you accept our <a href="/termsOfUse" style="color: black; font-style: oblique; font-weight: 500;">Terms Of Use</a></p>
                             </div>
                            <div class="col-md-12 text-center mb-3">
                              <button type="submit" class="btn btn-block mybtn btn-primary tx-tfm" style="background-color: rgba(47, 82, 74, 0.696)">Get Started For Free</button>
                            </div>
                            <div class="col-md-12">
                              <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">or</span>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <p class="text-center"><a href="/login" id="signin" style="color: black; font-style: oblique; font-weight: 500;">Already have an account?</a></p>
                              </div>
                            </div>
                          </form>
                          
                          
                </div><br><br>
                <div class="d-flex justify-content-center mt-3">
                    <button onclick="goBack()" class="btn btn-primary" style="background-color: rgba(47, 82, 74, 0.696)">Go Back</button>
                    </div>
                    <br><br>
                </body>
                
<%- include('partials/footer') %>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  function goBack() {
    window.history.back();
  }
</script>