<%- include('partials/header') %>

<body style="background-color: aquamarine;">
    <br><br><br><br>
<div class="container mt-5">
  <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: black;">Error</h1>
  <div class="alert alert-danger" role="alert">
    The username you entered already exists. Please choose a different username.
  </div>
  <a href="/register" class="btn btn-primary"  style="background-color: rgba(47, 82, 74, 0.696)">Go back to Registration</a>
</div>
<br><br><br><br><br><br>
</body>
<%- include('partials/footer') %>
